##
##### Minimum requirements for running common scripts and documentation
##
#
## Python dev depends
#
setuptools
python-build
wheel
pytools 
python-periphery
#
##Excel depends
#
xlrd 
pyexcel 
pyexcel-xls 
pyexcel-xlsx
xlsxwriter
#
## Python number crunching and graphing
#
numpy
matplotlib
scipy
pandas
#
## Fun terminal coloring and drawing
#
termcolor
colorama
pyfiglet
#
## Documentation depends
#
epydoc
sphinx
#
## Python threading depends
#
twisted
service_identity
#
## Other random depends
#
cronus
pyserial
pycrc
#
## Not available for Python 3 
## Moved this to the end since python3 fails on this line and skips the rest of the requirements file.
#
snakefood
pydoctor
pdb